@model SettingsViewModel

<h2>Innstillinger</h2>

<form asp-action="ChangeCompany">
    
        <div class="row">
            <div class="col-sm-2">
                Innstilling
            </div>
            <div class="col-sm-8">
                <label>CompanyId:</label>
                <input name="CompanyId"/>
            </div>
            <div class="col-sm-2">
                <input type="submit" class="btn btn-default" value="Lagre" />

            </div>
        </div>
</form>